@import './typographie/typography.scss';

.App {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
}
main {

  padding: 20px 0;
  max-width: 1200px;
  margin: 70px auto;
}
